body {
	height:100vh;
	width:100vw;
}
<!--- all images same size;reduction of code>
.img {
	max-width:100%;
	max-height:100%;
	background-repeat:no-repeat;
}
.hover:hover {
	box-shadow: 0px 0px 150px #000;
	z-index: 2;
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.01);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.01);
	transition: all 200ms ease-in;
	transform: scale(1.01);
	overflow: visible;
	cursor: pointer;
}
<!---background images for songs>
.chrisbrown {
	background-image:url("https://user-images.githubusercontent.com/26973179/40947064-a4bd4da2-6815-11e8-822e-822d64095cda.jpg");
}
.migo {
	background-image:url("image/migo.jpg");
}

.blackp {
	background-image:url("image/blackp.jpg");
}
.g-eazy {
	background-image:url("image/g-eazy.jpg");
}

.childish {
	background-image:url("image/childish.jpg");
}

.pnbrock {
	background-image:url("image/pnbrock.jpg");
}

<!---breakpoint of media quiery is 900-->
@media only screen and (max-width: 900px) {
	
.img{
	height:50vh;
	width: 50vw;
	display:flex;
	flex-wrap:wrap;
}
.hover{
	height:50vh;
	width: 100vw;
	display:flex;
}
